<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url 'todolists_list' %}">Back to list</a>
        <a href="{% url 'todolist_edit' todolist.pk %}">Edit</a>
        <a href="{% url 'todolist_delete' todolist.pk %}">Delete</a>
      </nav>
      <h1>{{ todolist.name }}</h1>
      <h2>Tasks</h2>
    </header>
    <main>
      <table>
        <thead>
          <tr>
            <th>Task</th>
            <th>Due date</th>
          </tr>
        </thead>
        <tbody>
          {% for item in todolist.items.all %}
          <tr>
            <td>
              <a href="{% url 'todoitem_edit' item.pk %}">{{ item }}</a>
            </td>
            <td>{{item.due_date}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
