<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <h1>My lists</h1>
      <nav>
        <a href="{% url 'todolist_create' %}">Create a new list</a>
        <a href="{% url 'todoitem_create' %}">Create a new item</a>
      </nav>
    </header>
    <main>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Number of items</th>
          </tr>
        </thead>
        <tbody>
          {% for todo in todolist_list %}
          <tr>
            <td>
              <a href="{% url "todolist_detail" todo.pk %}">{{todo.name}}</a>
            </td>
            {% comment %} {% url 'todolist_detail' todos.pk %} {% endcomment %}
            {% comment %}
            <td>pull in counter from shopping list</td>
            {% endcomment %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
